<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title">Tên phần đầu tiên</h5>
        



        <div class="row mt-5">
            <div class="col-md-4">

                

                </article>
            </div> <!-- col.// -->
            <div class="col-md-4">
               
            </div> <!-- col.// -->
            <div class="col-md-4">
               
            </div> <!-- col.// -->
        </div> <!-- row.// -->

        <br><br>

            <a href="javascript: history.back()" class="btn btn-light"> &laquo Quay lại</a>



    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->
